.match-list {
    position: absolute !important;
    top: 4.5em;
    /* border: 1px solid #d4d4d4; */
    border-bottom: none;
    border-top: none;
    z-index: 99;
    padding: 0 !important;
}
.match-list div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4;
    margin: 0 15px;
}
.match-list div.active {
	background-color: #ccc;
}
.match-list div:hover {
	background-color: #ccc;
}