.container {
    margin: 3rem 0;
}

input[name='city']{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
    color: #fff !important;
    margin: 30px 0;
}
input:focus {
    background-color: transparent !important;
    box-shadow: unset !important;
}

input::-webkit-input-placeholder {
    color: #fff !important;
}